In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import csv
from pandas.tseries.offsets import MonthEnd
from datetime import datetime, timedelta, date
import requests
import json 
import ta

In [2]:
FB_df = pd.read_csv("/Users/fahad/project_repo/data/final/FB/FB_technical.csv", index_col=0)

PFE_df = pd.read_csv("/Users/fahad/project_repo/data/final/PFE/PFE_technical.csv", index_col=0)

MAR_df = pd.read_csv("/Users/fahad/project_repo/data/final/MAR/MAR_technical.csv", index_col=0)

GOOG_df = pd.read_csv("/Users/fahad/project_repo/data/final/GOOG/GOOG_technical.csv", index_col=0)

NFLX_df = pd.read_csv("/Users/fahad/project_repo/data/final/NFLX/NFLX_technical.csv", index_col=0)

In [3]:
#dict for the month endings which we will create a dataframe with the close prices from 
#apikey=539COEUG1C1IYXMF
FB = requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=FB&outputsize=full&apikey=539COEUG1C1IYXMF")
FB = FB.json() 

PFE = requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=PFE&outputsize=full&apikey=539COEUG1C1IYXMF")
PFE = PFE.json()

MAR = requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=MAR&outputsize=full&apikey=539COEUG1C1IYXMF")
MAR = MAR.json()

GOOG =requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=GOOG&outputsize=full&apikey=539COEUG1C1IYXMF")
GOOG = GOOG.json()

NFLX = requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=NFLX&outputsize=full&apikey=539COEUG1C1IYXMF")
NFLX = NFLX.json()

In [6]:
#transform the json object into a pandas dataframe object and transpose
FB_df_monthly = pd.DataFrame(FB['Monthly Time Series'])
FB_df_monthly = FB_df_monthly.T
FB_df_monthly.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
FB = FB_df_monthly
export_FB_monthly = FB.to_csv("/Users/fahad/project_repo/data/final/FB/FB_monthly.csv")

PFE_df_monthly = pd.DataFrame(PFE['Monthly Time Series'])
PFE_df_monthly = PFE_df_monthly.T
PFE_df_monthly.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
PFE = PFE_df_monthly
export_PFE_monthly = PFE.to_csv("/Users/fahad/project_repo/data/final/PFE/PFE_monthly.csv")



MAR_df_monthly = pd.DataFrame(MAR['Monthly Time Series'])
MAR_df_monthly = MAR_df_monthly.T
MAR_df_monthly.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
MAR = MAR_df_monthly
export_MAR_monthly = MAR.to_csv("/Users/fahad/project_repo/data/final/MAR/MAR_monthly.csv")



GOOG_df_monthly = pd.DataFrame(GOOG['Monthly Time Series'])
GOOG_df_monthly = GOOG_df_monthly.T
GOOG_df_monthly.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
GOOG = GOOG_df_monthly
export_GOOG_monthly = GOOG.to_csv("/Users/fahad/project_repo/data/final/GOOG/GOOG_monthly.csv")




NFLX_df_monthly = pd.DataFrame(NFLX['Monthly Time Series'])
NFLX_df_monthly = NFLX_df_monthly.T
NFLX_df_monthly.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
NFLX = NFLX_df_monthly
export_NFLX_monthly = NFLX.to_csv("/Users/fahad/project_repo/data/final/NFLX/NFLX_monthly.csv")

KeyError: 'Monthly Time Series'

                Open      High       Low     Close      Volume
2019-08-15  194.1700  198.4700  179.3100  182.5900   172260200
2019-07-31  195.2100  208.6749  191.9300  194.2300   351062500
2019-06-28  175.0000  194.5300  160.8316  193.0000   426428600
2019-05-31  194.7800  196.1770  177.1600  177.4700   286821500
2019-04-30  167.8300  198.4800  167.2790  193.4000   381985300
2019-03-29  162.6000  174.3000  159.2800  166.6900   387936100
2019-02-28  165.8400  172.4700  159.5900  161.4500   302243200
2019-01-31  128.9900  171.6800  128.5630  166.6900   527547900
2018-12-31  143.0000  147.1900  123.0200  131.0900   558786200
2018-11-30  151.5200  154.1300  126.8500  140.6100   518151700
2018-10-31  163.0300  165.8800  139.0300  151.7900   622446300
2018-09-28  173.5000  173.8900  158.8660  164.4600   500468800
2018-08-31  173.9300  188.3000  170.2700  175.7300   548832700
2018-07-31  193.3700  218.6200  166.5600  172.5800   647030700
2018-06-29  193.0650  203.5500  186.4300  194.3200   387265600
2018-05-31  172.0000  192.7200  170.2300  191.7800   401144100
2018-04-30  157.8100  177.1000  150.5100  172.0000   750072700
2018-03-29  179.0100  186.1000  149.0200  159.7900   996201700
2018-02-28  188.2200  195.3200  167.1800  178.3200   516251600
2018-01-31  177.6800  190.6600  175.8000  186.8900   495655700
2017-12-29  176.0300  182.2800  169.0100  176.4600   317095800
2017-11-30  182.3600  184.2500  174.0000  177.1800   350998700
2017-10-31  171.3900  180.8000  168.2900  180.0600   318146600
2017-09-29  172.4000  174.0000  161.5600  170.8700   304818300
2017-08-31  169.8200  173.0500  165.0000  171.9700   303622800
2017-07-31  151.7200  175.4900  147.8000  169.2500   419907600
2017-06-30  151.7500  156.5000  144.5600  150.9800   414757100
2017-05-31  151.7400  153.6000  144.4220  151.4600   403586900
2017-04-28  141.9300  151.5300  138.8100  150.2500   275586300
2017-03-31  136.4700  142.9500  136.0800  142.0500   342098600
...              ...       ...       ...       ...         ...
2014-11-28   75.4700   78.2700   72.5100   77.7000   490965300
2014-10-31   78.7800   81.1600   70.3200   74.9900  1083643000
2014-09-30   75.0100   79.7070   73.0700   79.0400   720995800
2014-08-29   72.2200   75.9900   71.5500   74.8200   590763600
2014-07-31   67.5800   76.7417   62.2100   72.6500  1028365000
2014-06-30   63.2300   68.0000   61.7900   67.2900   863389800
2014-05-30   60.4300   64.3000   56.2600   63.3000  1120155500
2014-04-30   60.4600   63.9100   54.6600   59.7800  1883965100
2014-03-31   66.9600   72.5900   57.9800   60.2400  1255440000
2014-02-28   63.0300   71.4400   60.7000   68.4600  1110774100
2014-01-31   54.8300   63.3700   51.8500   62.5700  1294714800
2013-12-31   46.9000   58.5800   46.2600   54.6490  1517533200
2013-11-29   50.8500   52.0900   43.5500   47.0100  1357311900
2013-10-31   49.9700   54.8250   45.2600   50.2050  2032635000
2013-09-30   41.8415   51.6000   41.4400   50.2300  1583083800
2013-08-30   37.3000   42.2600   36.0200   41.2940  1344994100
2013-07-31   24.9690   38.3100   24.1500   36.8000  1438017100
2013-06-28   24.2650   25.1900   22.6700   24.8800   788331500
2013-05-31   27.8500   29.0700   23.2600   24.3480   982094800
2013-04-30   25.6300   28.1000   25.1500   27.7690   738509200
2013-03-28   27.0500   28.6750   24.7200   25.5800   727180500
2013-02-28   31.0100   31.0200   26.3400   27.2500   957639800
2013-01-31   27.4409   32.5060   27.4200   30.9810  1675851700
2012-12-31   28.0000   28.8800   25.1500   26.6200  1191832200
2012-11-30   21.0800   27.9982   18.8700   28.0000  1527490200
2012-10-31   22.0800   24.2500   18.8000   21.1100  1100938300
2012-09-28   18.0800   23.3700   17.5500   21.6600  1058643700
2012-08-31   21.5000   22.4500   18.0300   18.0580  1151944900
2012-07-31   31.2500   32.8800   21.6100   21.7100   520189700
2012-06-29   28.8920   33.4500   25.5200   31.0950   667910500

[87 rows x 5 columns]

In [53]:
control_dict = {"FB":FB, "PFE":PFE,"MAR":MAR, "GOOG":GOOG, "NFLX":NFLX}

for key, value in control_dict.items():
    window_split_data(value,4,key)

[2016, 2018, 2012, 2014]
[1999, 2005, 2011, 2017]
[1999, 2005, 2011, 2017]
[2016, 2004, 2008, 2012]
[2016, 2003, 2008, 2013]

In [45]:
#function takes a dataframe with OHLCV and DATETIME object as the INDEX in a %Y-%M-%D format
def window_split_data(dataframe_to_split, n_year_in_window,stock_str):
    """the function splits a monthly dataframe into 5 year windows that are non-overlapping"""
    
    #returns dataframe object with years present in the original dataframe as the index
    set_of_years = set()
    
    #print (dataframe_to_split.head(1))
    
    #print (type(dataframe_to_split.index))
    
    dates = dataframe_to_split.index
    
    dataframe_to_split['Date'] = dates
    
    dataframe_to_split['Date'] = pd.to_datetime(dataframe_to_split['Date'], format="%Y-%m-%d")
    
#     print (dataframe_to_split.head(1))
#     print (type(dataframe_to_split['Date']))
#     print (dataframe_to_split.dtypes)
    
    for timestamp in list(dataframe_to_split.Date):
        #print (timestamp.year)
        set_of_years.add(timestamp.year)
        
    #print (set_of_years)
        
    

    list_of_years_in_df = list(set_of_years)

# #   #number of training test sets we will have
    len_of_list = len(list_of_years_in_df)  
    
    x = np.ceil(len_of_list/n_year_in_window)
    
    final_year_list = []
    
    for i in range(len(list_of_years_in_df)):
        if (i%x == 0.0):
            final_year_list.append(list_of_years_in_df[i])

        else:
            pass
    
#     print ("\n")

    print (final_year_list)
    
#     print ("\n")
    
    for year in final_year_list:
        if year <=2013:
            stop = year + n_year_in_window
            start = year
            bottom = str(start)
            
            stop = str(stop)
            start = str(start)
            
            start_date = start + "-01-01"
            stop_date = stop + "-01-01"
            
            
            temp_df = dataframe_to_split.loc[(dataframe_to_split['Date'] > pd.to_datetime(start_date, format="%Y-%m-%d")) &
                                             (dataframe_to_split['Date'] < pd.to_datetime(stop_date, format="%Y-%m-%d"))]
        
            
            temp_df = temp_df.iloc[::-1]


            
            name = "{}_{}".format(bottom,stock_str)
            temp_df.to_csv("/Users/fahad/project_repo/data/final/{}/{}.csv".format(stock_str, name))
            
        elif (year==2014) or (year ==2015):
            
            stop = 2019
            
            start = year
            bottom = str(start)
            
            start_date = str(start) + "-01-01"
            stop_date = str(stop) + "-07-01"
            
            temp_df = dataframe_to_split.loc[(dataframe_to_split['Date'] > pd.to_datetime(start_date, format="%Y-%m-%d")) &
                                             (dataframe_to_split['Date'] < pd.to_datetime(stop_date, format="%Y-%m-%d"))]
                        
            
            temp_df = temp_df.iloc[::-1]
            


            name = "{}_{}".format(bottom,stock_str)
            temp_df.to_csv("/Users/fahad/project_repo/data/final/{}/{}.csv".format(stock_str, name))


        else:
            pass