In [30]:
from backtesting import Strategy
from backtesting.lib import crossover
from backtesting import Backtest
import pandas as pd
from backtesting.test import SMA
import pandas as pd

In [45]:
AAPL_10 = pd.read_csv("/Users/fahad/project_repo/data/final/AAPL/2010_AAPL.csv")
AAPL_10['Date'] = pd.to_datetime(AAPL_10['Date'], format = "%Y-%m-%d")
AAPL_10 = AAPL_10.set_index("Date")
AAPL_10 = AAPL_10.drop("Date.1", axis=1)
AAPL_10

                Open      High       Low     Close      Volume
Date
2010-01-29  213.4300  215.5900  190.2500  192.0630   541749800
2010-02-26  192.3700  205.1700  190.8500  204.6200   384860000
2010-03-31  205.7500  237.4800  205.4500  235.0000   434077600
2010-04-30  237.4900  272.4600  232.7500  261.0900   441683200
2010-05-28  263.8400  267.8800  199.2500  256.8800   645809100
2010-06-30  259.6900  279.0100  242.2000  251.5300   594687600
2010-07-30  254.3000  265.9900  239.6000  257.2500   559632300
2010-08-31  260.4400  264.2800  235.5600  243.1000   342468600
2010-09-30  247.4700  294.7300  246.2800  283.7500   423211400
2010-10-29  283.7500  319.0000  277.7700  300.9800   436949200
2010-11-30  302.2200  321.3000  297.7600  311.1500   339574500
2010-12-31  315.2700  326.6600  314.8900  322.5600   249044100
2011-01-31  325.6400  348.6000  324.8365  339.3200   387197700
2011-02-28  341.3000  364.9000  337.7200  353.2100   331998200
2011-03-31  355.4700  361.6700  326.2600  348.5075   403802100
2011-04-29  351.1100  355.1300  320.1600  350.1300   330493900
2011-05-31  349.7400  351.8300  329.4200  347.8300   246859300
2011-06-30  348.8700  352.1320  310.5000  335.6700   330851800
2011-07-29  335.9500  404.5000  334.2000  390.4800   380498100
2011-08-31  397.7800  399.5000  353.0200  384.8300   576521400
2011-09-30  385.8200  422.8600  366.4800  381.3200   427766000
2011-10-31  380.3700  426.7000  354.2400  404.7800   469336700
2011-11-30  397.4100  408.0000  363.3200  382.2000   320132200
2011-12-30  382.5400  409.0900  377.6800  405.0000   225233300
2012-01-31  409.4000  458.2400  409.0000  456.4800   244994800
2012-02-29  458.4100  547.6100  453.9800  542.4400   406019800
2012-03-30  548.1700  621.4500  516.2210  599.5500   556583500
2012-04-30  601.8300  644.0000  555.0000  583.9800   557106800
2012-05-31  584.9000  596.7600  522.1800  577.7300   396655200
2012-06-29  569.1600  590.0000  548.5000  584.0000   280565200
...              ...       ...       ...       ...         ...
2013-07-31  402.6900  457.3425  401.2200  452.5300   233504100
2013-08-30  455.7527  513.7400  453.2600  487.2160   287797800
2013-09-30  493.1000  507.9200  447.2200  476.7500   308247900
2013-10-31  478.4500  539.2500  478.2800  522.7020   279919000
2013-11-29  524.0200  558.3300  512.3800  556.0700   186612700
2013-12-31  558.0000  575.1358  538.8000  561.0200   252049900
2014-01-31  555.6800  560.2000  493.5500  500.6000   313069800
2014-02-28  502.6100  551.1900  499.3000  526.2400   210013100
2014-03-31  523.4200  549.0000  522.8100  536.7400   178632100
2014-04-30  537.7600  599.4300  511.3300  590.0900   229823600
2014-05-30  592.0000  644.1700  580.3300  633.0000   204845300
2014-06-30  633.9600  651.2600   89.6500   92.9300   853194497
2014-07-31   93.5200   99.4400   92.5700   95.6000  1035191700
2014-08-29   94.9000  102.9000   93.2800  102.5000   930931500
2014-09-30  103.0600  103.7400   96.1400  100.7500  1523782675
2014-10-31  100.5900  108.0400   95.1800  108.0000  1360280122
2014-11-28  108.2200  119.7500  107.7200  118.9300   820471729
2014-12-31  118.8100  119.2500  106.2600  110.3800  1073775862
2015-01-30  111.3900  120.0000  104.6300  117.1600  1304879185
2015-02-27  118.0500  133.6000  116.0800  128.4600  1136535493
2015-03-31  129.2500  130.2800  121.6300  124.4300  1138641910
2015-04-30  124.8200  134.5400  123.1000  125.1500   996135511
2015-05-29  126.1000  132.9700  123.3600  130.2800   954152126
2015-06-30  131.2000  131.3900  124.4800  125.4250   878606841
2015-07-31  126.9000  132.9700  119.2200  121.3000  1058280697
2015-08-31  121.5000  122.5700   92.0000  112.7600  1606359115
2015-09-30  110.1800  116.8900  107.3600  110.3000  1203789074
2015-10-30  109.0700  121.2200  107.3100  119.5000  1113703829
2015-11-30  119.8700  123.8200  111.0000  118.3000   750606735
2015-12-31  118.7500  119.8600  104.8200  105.2600   922626259

[72 rows x 5 columns]

In [43]:
from backtesting import Strategy
from backtesting.lib import crossover


class SmaCross(Strategy):
    
    # Define the two MA lags as *class variables*
    # for later optimization
    n1 = 5
    n2 = 10
    
    def init(self):
        # Precompute two moving averages
        self.sma1 = self.I(SMA, self.data.Close, self.n1)
        self.sma2 = self.I(SMA, self.data.Close, self.n2)
        
#         print (self.sma1)
#         print (self.sma2)
    
    def next(self):
        # If sma1 crosses above sma2, buy the asset
        if crossover(self.sma1, self.sma2):
            self.buy()

        # Else, if sma1 crosses below sma2, sell it
        elif crossover(self.sma2, self.sma1):
            self.sell()

In [44]:
bt = Backtest(AAPL_10, SmaCross, cash=10000, commission=.002)
bt.run()

Start                     2010-01-29 00:00:00
End                       2015-12-31 00:00:00
Duration                   2162 days 00:00:00
Exposure [%]                          45.0509
Equity Final [$]                      912.801
Equity Peak [$]                       11340.4
Return [%]                            -90.872
Buy & Hold Return [%]                 45.1951
Max. Drawdown [%]                    -92.9663
Avg. Drawdown [%]                    -1.74804
Max. Drawdown Duration      120 days 00:00:00
Avg. Drawdown Duration      120 days 00:00:00
# Trades                                    4
Win Rate [%]                                0
Best Trade [%]                       -12.7844
Worst Trade [%]                      -77.6068
Avg. Trade [%]                       -34.6579
Max. Trade Duration         274 days 00:00:00
Avg. Trade Duration         244 days 00:00:00
Expectancy [%]                            NaN
SQN                                   -1.4145
Sharpe Ratio                         -1.14307
Sortino Ratio                        -1.14307
Calmar Ratio                          -0.3728
_strategy                            SmaCross
dtype: object